@CHARSET "UTF-8";

	body{
		padding-top: 220px;
		width: 700px;
	    background: #EFEFEF;
		font-size: 10pt;
		margin: auto;
	}

	.container{
		width: 700px;
		margin: 0px auto;
	}
	#header {
		padding: 50px 0px;
	    height: 0px;
	    margin-bottom: 20px;
	}
	
	.logo a{
		text-decoration: none;
	    line-height: 0;
	    color: #525252;
	}
	.from b{
		font-size: 15px;
    	margin-left: 10px;
	}
	
	form {
		border-top: 2px solid black;
	}
	input[type=text], input[type=password] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}
	
	input[type=submit] {
		background-color: #525252;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
	}
	
	span {
		float: right;
		text-decoration: none;	
	}
	span a{
		color: #525252;
	}
